* {
    margin: 0px;
    padding: 0px;
}
/*Styles for pages to fit users screen*/
html, body {
    height: 100% !important;
    width: 100% !important;
}

.main-container {
    height: 400% !important;
    width: 100% !important;
    background-color: aquamarine;
}

.page {
    height: 25% !important;
    width: 100% !important;
}

/*Grid layout*/
.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.main-text {
    grid-column: 3;
    grid-row: 3;
}

/*Individual pages*/
#home {
    background-color: #032435;
}

#about {
    background-color: blueviolet;
}

#portfolio {
    background-color: cadetblue;
}

#contact {
    background-color: cornsilk;
}

/*Styling content*/
h6 {
    color: #00EC97;
    font-size: 25px;
    font-weight: lighter;
}

h1 {
    color: #FBF9FF;
    padding: 10px 0;
    font-size: 50px;
}

p {
    color: #8F8F8F;
    font-size: 17px;
}