* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100% !important;
    width: 100% !important;
}

.main-container {
    height: 400% !important;
    width: 100% !important;
    background-color: aquamarine;
}

.page {
    height: 25% !important;
    width: 100% !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 0%;
}

.main {
    flex: 60%;
    height: 600px;
}

p, h1 {
    color: #00EC97;
}

#home {
    background-color: #032435;
}

#about {
    background-color: blueviolet;
}

#portfolio {
    background-color: cadetblue;
}

#contact {
    background-color: cornsilk;
}