* {
    margin: 0px;
    padding: 0px;
}
/*Styles for pages to fit users screen*/
html, body {
    height: 100% !important;
    width: 100% !important;
}

.main-container {
    height: 400% !important;
    width: 100% !important;
}

.page {
    height: 25% !important;
    width: 100% !important;
}

/*Grid layout*/
.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    width: 100%;
    height: 10%;
    align-content: center;
    justify-content: space-around;
    position: fixed;
    background-color: #032435;
    transition: transform 0.2s;
}

.nav--hidden {
    transform: translateY(-100px);
}

.logo {
    
}

.nav-home {
    
}

.nav-about {
    
}

.nav-portfolio {
    
}

.nav-contact {
    
}

/*Individual pages*/
#home {
    background-color: #032435;
}

    .main-text {
        grid-column: 3;
        grid-row: 4;
    }

#about {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    align-content: center;
    justify-content: space-around;
    background-color: blueviolet;
}

    #avatar-card {
        grid-column: 2;
        grid-row: 4;
        width: 45%;
        box-shadow: 3px 3px 30px;
        border-radius: 10px;
    }

    .about-text {
        grid-column: 6;
        grid-row: 4;
        width: 50%;
        background-color: red;
    }

#portfolio {
    background-color: cadetblue;
}

#contact {
    background-color: cornsilk;
}

/*Styling content*/
h6 {
    color: #00EC97;
    font-size: 25px;
    font-weight: lighter;
}

h1 {
    color: #FBF9FF;
    padding: 10px 0;
    font-size: 50px;
}

p {
    color: #8F8F8F;
    font-size: 17px;
}

a {
    color: #00EC97;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #8F8F8F;
    
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}